img {
  height: 50%;
  width: 50%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  width: 100%;
  display: inline-flex;
}

.page {
  margin: 0 150px;
  text-align: center;
}

.App-link {
  margin: 0 10px;
}

.resume {
  text-align: center;
  margin: auro;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 200px) {
  .header {
    width: 50%;
  }
  .App-link {
    width: 50%;
  }
}